 


<%= form_for ([@announcement, @announcement.comments.build]) do |f| %>
  <div class="form-group">
   
  <%= f.text_area :content, class:"single-input", placeholder:"enter comment", class: "form-control"%>
  <%= f.submit " comment", class:"genric-btn info-border circle", class: "btn btn-primary"  %>
  </div>
<%end%>