/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.heigth {
    height: 30rem;
    text-align: center;
    background-image: url("photo21.jpg");
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.that {
    background-color: #042629 !important;
    color: bisque;
}

.colors {
    background-color: #00838f;
}

.images {
    background-image: url("photo19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.floats {
    float: left;
}